<main class="main">
  <div class="content">
    <div class="header">
      <img src="/chai.png" alt="image" class="logo" />
      <span class="title">{{title}}</span>
    </div>
    <mat-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Describe Your Coworker</ng-template>
          <mat-form-field style="margin-right: 8px;">
          <mat-label>Name</mat-label>
          <input matInput placeholder="First name, Last name" formControlName="nameCtrl" required>
          </mat-form-field>
          <!-- required fields -->
          <mat-form-field>
              <mat-label>Select Pronouns</mat-label>
              <mat-select formControlName="pronounCtrl" required>
              <mat-option value="one">He/Him</mat-option>
              <mat-option value="two">She/Her</mat-option>
              <mat-option value="two">They/Them</mat-option>
              </mat-select>
          </mat-form-field>
        <app-grid class="app-grid"></app-grid>
         <!-- next buttons -->
          <div class="nextBackButtons">
            <button [disabled]="firstFormGroup.invalid" mat-button matStepperNext>Next</button>
            </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" label="Additional information">
        <form [formGroup]="secondFormGroup">
          <mat-form-field>
              <!-- second component page will go here, with the cards of descriptors and additional sentences the user adds -->
            <!-- adjustable input -->
            <mat-label>Address</mat-label>
            <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                   required>
          </mat-form-field>
          <div class="nextBackButtons">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</main>
<router-outlet />
