<main class="main">
  <div class="content">
    <div class="header">
      <img src="/chai.png" alt="image" class="logo" />
      <span class="title">{{title}}</span>
    </div>
    <mat-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <div class="step-container">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Describe Your Coworker</ng-template>
            <mat-form-field style="margin-right: 8px;">
              <mat-label>Name</mat-label>
              <input matInput formControlName="nameCtrl" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Select Pronouns</mat-label>
                <mat-select required formControlName="pronounCtrl">
                  <mat-option value="he/him">He/Him</mat-option>
                  <mat-option value="she/her">She/Her</mat-option>
                  <mat-option value="they/them">They/Them</mat-option>
                </mat-select>
              </mat-form-field>
              <app-grid class="app-grid" (valueChange)="onValueChange($event)"></app-grid>
            <div class="nextBackButtons">
              <button mat-button matStepperNext [disabled]="firstFormGroup.invalid">Next</button>
            </div>
          </form>
        </div>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" label="Additional information">
        <div class="step-container">
          <form [formGroup]="secondFormGroup">
            <mat-form-field style="min-height: 740px; min-width: 500px;">
              <textarea formControlName="additionalInfoCrtl" matInput rows="28" matTextareaAutosize placeholder="Ex. Was super helpful in Project Genesis, would love to work with them again, has an amazing sense of humor, etc"></textarea>
            </mat-form-field>
            <div class="nextBackButtons">
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext  (click)="onFinalStep()">Next</button>
            </div>
          </form>
        </div>
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup" label="Done">
        <div class="step-container">
          <form [formGroup]="thirdFormGroup">
            <mat-form-field style="min-height: 740px; min-width: 500px;">
              <mat-spinner style="margin: auto;" *ngIf="loading"></mat-spinner>
              <textarea #resultTextArea formControlName="result" matInput rows="28" matTextareaAutosize></textarea>
            </mat-form-field>
            <div class="nextBackButtons">
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
          </form>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</main>
<router-outlet />
